/*Need a main Css to style the entire page*/
body {
  background-color: black;
  color: green;
}
/*a style for each section of the html page*/

/*navbar*/
#hsbutton {
  background: none;
  border: none;
}
.navcss {
  color: black;
}

/*Intro section */
.ansButton {
  background: none;
  border: none;
}

.ansButton:hover {
  background-color: rgb(0, 209, 63);
}

/*Question Section*/
#Qdisplay {
  display: none;
  color: green;
}

#gameResults {
  display: none;
}
/*HighScore Section*/
#hsScreen {
  display: none;
}
